<section class="section has-background-white-bis graduation">
  <div class="container">
    <div class="columns is-vcentered">
      <div class="column">
        <p class="title is-size-3 is-size-4-mobile has-text-weight-light">
          containerd 已从 <a href="https://cncf.io">CNCF</a> 毕业！
        </p>

        <hr />

        <p class="is-size-5 is-size-6-mobile">
          自 2019 年 2 月 28 日起，containerd 正式成为云原生计算基金会（CNCF）的毕业项目，
          继 <a href="https://kubernetes.io">Kubernetes</a>、<a href="https://prometheus.io">Prometheus</a>、
          <a href="https://envoyproxy.io">Envoy</a> 和 <a href="https://coredns.io">CoreDNS</a> 之后。
          我们要感谢<em>了不起的</em> containerd 社区，是大家让这一切成为可能；我们对项目的未来充满期待。
        </p>

        <br />

        <p class="is-size-5 is-size-6-mobile">
          官方公告请见 <a target="_blank" href="https://www.cncf.io/announcement/2019/02/28/cncf-announces-containerd-graduation/">CNCF 网站</a>。
        </p>

        <br />

        <p class="is-size-3 is-size-4-mobile">
          🍾🎉🥳🎁
        </p>
      </div>

      <div class="column has-text-centered">
        <a href="https://cncf.io">
          <img src="{{ "img/logos/cncf.png" | relURL }}" class="is-graduation-logo" alt="Cloud Native Computing Foundation logo">
        </a>
      </div>
    </div>
  </div>
</section>
